<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="SampleIntervalInSeconds" value="15"/>
	</appSettings>

	<connectionStrings>
		<clear/>
		<add name="ActivityTracker" connectionString="data source=RCM12VDMDXDB01;initial catalog=ScreenScrapping;integrated security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="RCM40CPTIBSQL01\ODS_PI" connectionString="data source=RCM40CPTIBSQL01\ODS_PI;initial catalog=Master;integrated security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="RCM40CPPASDB01\PAS" connectionString="data source=RCM40CPPASDB01\PAS;initial catalog=Master;integrated security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="RCM40CPXAPDB01\TRANS1" connectionString="data source=RCM40CPXAPDB01\TRANS1;initial catalog=Master;integrated security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
	
</configuration>
