<?xml version="1.0" encoding="utf-8" ?>
<nlog   xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        throwExceptions="true">

	<targets async="true">

		<target name="file" xsi:type="File"
		        layout="${longdate} ${logger} ${message} ${exception:format=type,message,method,data:maxInnerExceptionLevel=5:innerExceptionSeparator=-->}"
		        fileName="${basedir}/Logs/log.current.txt"
		        archiveFileName="${basedir}/Logs/log.{#}.txt"
		        archiveEvery="Day"
		        archiveNumbering="Date"
		        archiveDateFormat="yyyyMMdd"
		        maxArchiveFiles="30"
		        concurrentWrites="true"
		        keepFileOpen="false"
		        encoding="iso-8859-2" />
		
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="file" />
	</rules>
	
</nlog>